name: SSH Script Tests
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  test-ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run SSH script tests
        run: |
          chmod +x ./test/test_ssh.sh
          bash ./test/test_ssh.sh
